[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = {extras = ["security"],version = "*"}
fastavro = "*"

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"
